Source: ros-kinetic-diagnostic-aggregator
Section: misc
Priority: extra
Maintainer: Austin Hendrix <namniart@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-bondcpp, ros-kinetic-bondpy, ros-kinetic-catkin (>= 0.5.68), ros-kinetic-diagnostic-msgs (>= 1.11.9), ros-kinetic-pluginlib, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-rostest, ros-kinetic-xmlrpcpp
Homepage: http://www.ros.org/wiki/diagnostic_aggregator
Standards-Version: 3.9.2

Package: ros-kinetic-diagnostic-aggregator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-bondcpp, ros-kinetic-bondpy, ros-kinetic-diagnostic-msgs (>= 1.11.9), ros-kinetic-pluginlib, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-xmlrpcpp
Description: diagnostic_aggregator
